extends ~markup/templates/base.pug

block setup
  - htmlAttributes = {class: 'wf-loading'}
  - helpers = require('markup/helpers')
  - filename = htmlWebpackPlugin.options.filename
  - context = {}
  - app = helpers.createApp({ filename, context })
  - publicPath = 'http://pi.simloovoo.com'
  - location = app.location || filename.replace(/^\/?/, '/')

append head
  meta(property='og:url', content=`${publicPath}${location}`)
  link(rel='canonical', href=`${publicPath}${location}`)
  meta(property='og:image', content=`${publicPath}${require('assets/images/splash.jpg')}`)
  meta(property='og:type', content='website')
  meta(property='og:title', content='π ⨯ ˢᶤᵐˡᵒᵒᵛᵒᵒ')
  meta(property='og:description', content='💻 π ☙ diy metaverse')

block body
  script.
    window.__INITIAL_STATE__=!{JSON.stringify(app.initialState)}
  #app
    != app.html
  block endScripts
    script(src="https://use.typekit.net/etb5gcw.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
